.title {
  color: orange;
  font-size: 60px;
 
  padding-left: 300px;
  padding-right: 200px;
}
.content {
  color: black;
 
  font-size: 15px;
  padding-left: 100px;
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap-reverse;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img {
  width: 800px;
  
  padding-left: 100px;
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
 
  
}
